:root
{
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
    font-variation-settings:
    "wdth" 75;

    /* Variabile */
    
    /* Variabile header */
    --culoare-nav: #e0e0e0;
    --culoare-bordura-poza: black;
    --culoare-footer: #5f6266;

    /* Variabile body */
    --culoare-background: #b2b2b2;
    
}

nav
{
    grid-area: 'header';
    z-index: 1000;
    position: sticky;
    top: 0;
    left: 0;

    width: 100vw;

    display: flex;

    background-color: var(--culoare-nav);
}

ul#meniu-nav
{
    list-style: none;
    display: flex;

    width: 100%;

    justify-content: flex-start;
    align-items: center;

    padding: .5rem;

}

ul#meniu-nav li
{
    flex: 0 0 auto;

    padding: 1.5rem;
    font-size: 1rem;
}

ul#meniu-nav li a
{
    font-weight: 300;
    font-size: 2rem;

    color: black;
    text-decoration: none;

    transition: font-size .1s,font-weight .1s;
}

ul#meniu-nav li:hover > a
{
    font-size: 2.5rem;
    font-weight: 700;
}

ul.submeniu-nav
{
    position: absolute;
    z-index: 200;
    visibility: hidden;
    
    width: 20%;
    min-width: 150px;

    display: flex;
    

    flex-direction: column;

    justify-content: center;
    align-items: center;

    background-color: var(--culoare-nav);

    list-style: none;
    text-indent: 0;
}

ul.submeniu-nav li
{
    flex: 0 0 auto;

    width: 100%;
    padding: .5rem;

    text-align: left;
}

nav > ul#meniu-nav li:hover > ul.submeniu-nav,
nav > ul#meniu-nav li > ul.submeniu-nav:hover
{
    visibility: visible;
}

@keyframes submeniu-aparitie
{
   from
   {
        transform: scaleY(15%);
        transform: translateY(5%);
   }

   to
   {
        transform: scaleY(100%);
        transform: translateY(0%);
   }
}