*
{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: italic;
    font-variation-settings:
    "wdth" 75;

    /* Variabile */
    
    /* Variabile header */
    --culoare-nav: #e0e0e0;
    --culoare-bordura-poza: black;
    --culoare-footer: #5f6266;

    /* Variabile body */
    --culoare-background: #b2b2b2;
    
}


body
{
    width: 100%;
    overflow-x: hidden;
    
    margin: 0;
    padding: 0;

    background-color: var(--culoare-background);

    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: repeat(1fr);

    grid-template-areas:
        "header header"
        "showcase showcase"
        "colectii colectii"
        "description about"
        "footer footer";

    
    column-gap: 2vw;
    row-gap: 0;

}

section#header
{
    width: 100%;
}

nav
{
    width: 100%;

    padding: 1rem;
    margin: auto;

    background-color: var(--culoare-nav);
}

ul#meniu-nav
{
    list-style: none;
    display: flex;

    align-items: center;

    li
    {
        margin: 1rem;
        font-size: 1rem;

        button
        {

            font-size: 1rem;
            background-color: transparent;
            border: 0px;
        }

        a
        {
            font-size: 1rem;

            color: black;
            text-decoration: none;
        }
    }
}

div.submeniu-nav
{
    display: block;

    position: absolute;
    z-index: 200;

    /* background-color: var(--culoare-nav); */

    ul
    {
        visibility: hidden;
        display: flex;
        flex-direction: column;

        justify-content: center;
        /* align-items: center; */

        border: 2px solid yellow;
        background-color: var(--culoare-nav);

        list-style: none;
        li a
            {
                color: black;
                text-decoration: none;
            }
    }
}

div#header-photo
{
    text-align: center;
    width: 100%;
    img
    {
        width: 100%;
        height: auto;

        border: .5rem solid var(--culoare-bordura-poza);
        border-top: none;
    }

    p
    {
        position: absolute;
        z-index:100;

        padding: 3vw;
        left: 10vw;
        top: 10vw;

        width: 50%;
        
        margin: auto;

        color:white;

        font-weight: 900;
        font-size: 4rem;
        font-style: italic;
        text-align: center;

        background: rgba(0, 0, 0, 0.5);

        animation: text-header-poza 1s ease-in-out;
    }
}

@keyframes text-header-poza 
{
    from
    {
        opacity: 20%;
        transform: translateX(50%);
    }
    to
    {
        opacity: 100%;
        transform: translateX(0%);
    }   
}


section#showcase-poze
{
    border:1px solid yellow;
    padding: .5rem;
    margin: auto;
    width: 95%;

    background-color: var(--culoare-nav);
}

div#text
{
    h2
    {
        padding: 1rem;

        font-weight: 300;
        text-align: center;
    }
}

div#slideshow.container
{
    /* width: 100%; */
    display: grid;

    grid-template-columns: repeat(1fr, 6);
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "poza6 poza6 poza2 poza2 poza3 poza4"
    "poza6 poza6 poza2 poza2 poza5 poza1";

    row-gap: 2rem;
    column-gap: 2rem;
}

div#slideshow
{
    img
    {
        width: 100%;
        height: 100%;

        animation: poza-fotografii .5s;
    }

    img:hover
    {
        scale: 1.1;
        filter: brightness(90%);
        transition: scale .1s, filter .1s;
    }
}

@keyframes poza-fotografii 
{
    from
    {
        opacity: 0%;
        transform: translateY(15%);
    }

    to
    {
        opacity: 100%;
        transform: translateY(0%)
    }
} 

section#descriere
{
    width: 65%;
    height: 80%;
    margin: auto;
    margin-top: 2rem;
    padding: 2rem;

    align-items: center;
    text-align: center;

    border-radius: 1rem;

    background-color: var(--culoare-nav);

    font-size: 1vw;

    animation: poza-fotografii .5s;

    p
    {
        padding: 1rem ;
        font-weight: 300;

        text-align: left;
    }    
}


section#cine-suntem
{
    width: 65%;
    height: 80%;
    margin: auto;
    margin-top: 2rem;
    padding: 2rem;

    border-radius: 1rem;

    align-items: center;

    font-size: 1vw;

    background-color: var(--culoare-nav);

    animation: poza-fotografii .5s;
}

section#cine-suntem.container
{
    display: grid;

    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas: 
    "photo text"
    "photo link";
}



div#about-image
{
    padding: 3em;
    img
    {
        width: 100%;

        border: min(1rem,1vw) solid var(--culoare-background);
        border-radius: 50%;

        filter: saturate(0);
    }
}

div#about-text
{
    padding: 1rem;
    p
    {
        font-weight: 300;
    }
}

div#about-link
{
    flex-basis: max-content;
    padding: 1vw;
    margin:1rem;

    text-align: center;
    a
    {
        font-size: 2vw;
        color:black;

        
        text-decoration: none;
    }

    a:hover
    {
        color:gray;
    }

    a::after
    {
        content: "📷";
    }
}

section#colectii
{
 
    background-color: var(--culoare-nav);
    width: 95%;
    margin: auto;
    margin-top: 1vw;
    height: auto;

    padding: .5rem;
    h2
    {
        padding: 1rem;
        font-size: min(3vw, 4rem);
        animation: poza-fotografii .5s;
    }
}

div#slideshow-colectii.container
{
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;
}

div.poza-colectie
{
    flex: 0 1 20%;
    padding: 2vw;
    img
    {
        border-radius: 50%;
        border: min(1rem,1vw) solid var(--culoare-background);

        object-fit: cover;
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;

        animation: poza-fotografii .5s;
    }

    img:hover
    {
        scale: 1.1;
        filter: brightness(70%);
        transition: scale .1s, filter .1s;
    }
}

footer
{
    width: 100%;
    height: 100%;

    margin: auto;
    margin-top: 4vw;

    background-color: var(--culoare-footer);
    color:white;
}


@media (min-width: 2500px)
{
    div#navheader
    {
        a
        {
            font-size: 4rem;
        }
    }

    div#header-photo
    {
        p
        {
            left:10vw;
            padding: 5vw;
            font-size: 3vw;
        }
    }
    div#text
    {
        h2
        {
            font-size: 1vw;
        }
    }

    section#descriere
    {
        font-size: 1vw;
    }

    div#about-image
    {
        padding: 2vw;
    }

    div#about-text
    {
        p
        {
            font-size: 1vw;
        }
    }

    div#about-link
    {
        a
        {
            font-size: 1vw;
        }
    }

    div#about-link > a::after
    {
        content: "📷";
    }
}

@media (max-width:1400px)
{
    div#header-photo
    {
        img
        {
            width: 100%;
        }

        p
        {
            left:4rem;
            top:10rem;
            font-size: 2rem;
        }
    }

    nav > ul.meniu-navigare
    {
        justify-content: center;

        li
        {
            flex: 0 0 20%;  
        }

        li a
        {
            font-size: 2vw;
        }
    }


    section#descriere
    {
        font-size: 3vw;    
    }
    
    section#cine-suntem
    {
        font-size: 3vw;
    }

    section#cine-suntem.container
    {
        display: flex;

        flex-direction: column;

        justify-content: center;
        align-items: center;
    }

    div#about-image
    {
        padding: 4vw;

        width: 100%;
        height: auto;

        img
        {
            width: 100%;
        }
    }

    div#about-link
    {
        flex-basis: content;
        padding: 2rem;

        a
        {
            font-size: 4vw;
        }
    }
}

@media (max-width:800px)
{

    body
    {
        overflow-x: hidden;
        width: 90%;
        column-gap: 10vw;
    }

    nav > ul.meniu-navigare
    {
        li a
        {
            font-size: 5vw;
        }
    }

    div#header-photo
    {
        p
        {
            padding: 1rem;
            left:2rem;
            top:10rem;
            font-size: 1rem;
        }
    }


    div#slideshow.container
    {
        width: 80%;
        margin: auto;
        grid-template-areas: 
        "poza1 poza2"
        "poza3 poza4"
        "poza5 poza6";
        text-align: center;

        row-gap: 0.4rem;
        column-gap: 0.4rem;
    }

    div#text
    {
        h2
        {
            font-size: 1rem;
        }
    }
}