*
{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: italic;
    font-variation-settings:
    "wdth" 75;

    /* Variabile */
    
    /* Variabile header */
    --culoare-nav: #e0e0e0;
    --culoare-bordura-poza: black;
    --culoare-footer: #5f6266;

    /* Variabile body */
    --culoare-background: #b2b2b2;
    
}


body
{
    width: 100%;
    overflow-x: hidden;
    
    margin: auto;
    padding: 0;

    background-color: var(--culoare-background);
    display: grid;
    place-items: center;

    grid-template-columns: 2fr 2fr;
    grid-template-rows: repeat(1fr);

    grid-template-areas:
        "header header"
        "showcase showcase"
        "colectii colectii"
        "description about"
        "footer footer";

    
    column-gap: 2vw;
    row-gap: 0;

}

section#header
{
    width: 100%;
}

nav
{
    width: 100%;

    display: flex;

    background-color: var(--culoare-nav);
}

ul#meniu-nav
{
    list-style: none;
    display: flex;

    width: 100%;

    justify-content: flex-start;
    align-items: center;

    padding: .5rem;

    li
    {
        flex: 0 0 auto;

        padding: 1.5rem;
        font-size: 1rem;

        a
        {
            font-weight: 300;
            font-size: 2rem;

            color: black;
            text-decoration: none;

            transition: font-size .1s,font-weight .1s;
        }


    }
    
    li:hover > a
    {
        font-size: 2.5rem;
        font-weight: 700;
    }
}

ul.submeniu-nav
{
    position: absolute;
    z-index: 200;
    visibility: hidden;
    
    width: 20%;
    min-width: 150px;

    display: flex;
    

    flex-direction: column;

    justify-content: center;
    align-items: center;

    background-color: var(--culoare-nav);

    list-style: none;
    text-indent: 0;

    li
    {
        flex: 0 0 auto;

        width: 100%;
        padding: .5rem;

        text-align: left;
    }

}

nav > ul#meniu-nav li:hover > ul.submeniu-nav,
nav > ul#meniu-nav li > ul.submeniu-nav:hover
{
    visibility: visible;
}

@keyframes submeniu-aparitie
{
   from
   {
        transform: scaleY(15%);
        transform: translateY(5%);
   }

   to
   {
        transform: scaleY(100%);
        transform: translateY(0%);
   }
}

div#header-photo
{
    text-align: center;
    width: 100%;
    img
    {
        width: 100%;
        height: auto;

        object-fit: cover;

        border-bottom: .5rem solid var(--culoare-bordura-poza);
    }

    p
    {
        position: absolute;
        z-index:100;

        padding: 3vw;
        left: 10vw;
        top: 10vw;

        width: 50%;
        
        margin: auto;

        color:white;

        font-weight: 900;
        font-size: 4rem;
        font-style: italic;
        text-align: center;

        background: rgba(0, 0, 0, 0.5);

        animation: text-header-poza 1s ease-in-out;
    }
}

@keyframes text-header-poza 
{
    from
    {
        opacity: 20%;
        transform: translateX(50%);
    }
    to
    {
        opacity: 100%;
        transform: translateX(0%);
    }   
}


section#showcase-poze
{
    padding: .5rem;
    margin: auto;
    width: 95%;

    background-color: var(--culoare-nav);
}

div#text
{
    h2
    {
        padding: 1rem;

        font-weight: 300;
        text-align: center;
    }
}

div#slideshow.container
{
    /* width: 100%; */
    display: grid;

    grid-template-columns: repeat(1fr, 6);
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "poza6 poza6 poza2 poza2 poza3 poza4"
    "poza6 poza6 poza2 poza2 poza5 poza1";

    row-gap: 2rem;
    column-gap: 2rem;
}

div#slideshow
{
    img
    {
        width: 100%;
        height: 100%;

        animation: poza-fotografii .5s;
        transition: scale .1s, filter .1s;
    }

    img:hover
    {
        scale: 1.1;
        filter: brightness(90%);
    }
}

@keyframes poza-fotografii 
{
    from
    {
        opacity: 0%;
        transform: translateY(15%);
    }

    to
    {
        opacity: 100%;
        transform: translateY(0%)
    }
} 

section#colectii
{
    background-image: url(Poze/Main\ Page/poza-header.webp);
    background-repeat: no-repeat;
    background-size: cover;

    width: 95%;
    
    margin-top: 1vw;
    height: auto;

    padding: .5rem;
    h2
    {
        background-color: var(--culoare-nav);
        text-align: center;

        padding: 1rem;
        margin: 2rem;
        font-size: min(3vw, 4rem);
        animation: poza-fotografii .5s;
    }
}

div#slideshow-colectii.container
{
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;
}

div.poza-colectie
{
    flex: 0 1 20%;
    padding: 2vw;
    img
    {
        border-radius: 50%;
        border: min(1rem,1vw) solid var(--culoare-background);
    
        box-shadow: 
        0 .5rem 1rem black;

        object-fit: cover;
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;

        animation: poza-fotografii .5s;
        transition: scale .1s, filter .1s;
    }

    img:hover
    {
        scale: 1.1;
        filter: brightness(70%);
        
    }
}

footer
{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    width: 100%;
    height: auto;

    margin-top: 5vw;

    padding: min(4vw, 2rem);

    background-color: var(--culoare-footer);
    color:white;
}

footer p
{
    margin: auto;
    padding: 1rem;
    padding-bottom: 2rem;
    width: 90%;
    
    text-align: justify;

    font-weight: 300;
    font-size: min(3vw, 2rem);

    border-bottom: 3px solid white;
}

#footer-linkuri
{
    flex: 0 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    margin-top: 2rem;


    a
    {
        text-wrap: nowrap;
        padding: 1rem;

        text-decoration: none;
        color: white;

        font-size: min(4vw, 2rem);
        transition: color .2s;
    }

    a:hover
    {
        color: black;
        cursor: pointer;
    }
}



@media (min-width: 2500px)
{
    div#navheader
    {
        a
        {
            font-size: 4rem;
        }
    }

    div#header-photo
    {
        p
        {
            left:10vw;
            padding: 5vw;
            font-size: 3vw;
        }
    }
    div#text
    {
        h2
        {
            font-size: 1vw;
        }
    }

    section#descriere
    {
        font-size: 1vw;
    }

}

@media (max-width:1400px)
{

    
    div#header-photo
    {
        img
        {
            width: 100%;
            margin: 0;
        }

        p
        {
            left:4rem;
            top:20rem;
            font-size: 2rem;
        }
    }

    nav > ul#meniu-nav
    {
        justify-content: space-evenly;

        li a
        {
            font-size: 5vw;
        }
    }

}

@media (max-width:800px)
{

    body
    {
        overflow-x: hidden;
        width: 100%;
        column-gap: 10vw;
    }

    nav ul#meniu-nav
    {
        justify-content: space-around;

        li a
        {
            font-size: 5vw;
        }
    }

    div#header-photo
    {
        p
        {
            padding: 1rem;
            left:2rem;
            top:10rem;
            font-size: 1rem;
        }
    }

    section#colectii
    {
        h2
        {
            font-size: 1rem;
        }
    }

    #slideshow.container
    {
        width: 80%;
        margin: auto;
        grid-template-areas: 
        "poza1 poza2"
        "poza3 poza4"
        "poza5 poza6";
        text-align: center;

        row-gap: 0.4rem;
        column-gap: 0.4rem;
    }

    #text
    {
        h2
        {
            font-size: 1rem;
        }
    }
}