*
{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: italic;
    font-variation-settings:
    "wdth" 75;

    /* Variabile */
    
    /* Variabile header */
    --culoare-nav: #e0e0e0;
    --culoare-bordura-poza: black;

    /* Variabile body */
    --culoare-background: #b2b2b2;
    
}


body
{
    margin: 0;
    padding: 0;

    background-color: var(--culoare-background);

    display: grid;
    grid-template-columns: 2fr 2fr;

    grid-template-areas:
        "header header"
        "showcase showcase"
        "description about"
        "footer footer";

    column-gap: 1rem;

}

section#header
{
    width: 100%;
}

div#navheader
{
    padding: 1rem;

    background-color: var(--culoare-nav);
}


nav > ul.meniu-navigare
{
    list-style-type: none;

    display: flex;

    li
    {
        flex: 0 0 10%;
        a
        {
            font-size: 1vw;
            font-weight: 300;

            padding: 1rem;
            color:black;
            text-decoration: none;
        }
    }
}

nav > ul.meniu-navigare > li:hover > ul.submeniu
{
    visibility: visible;
}

nav > ul.meniu-navigare > li:active > ul.submeniu
{
    visibility: visible;
}


nav ul.submeniu
{
    list-style-type: none;
    visibility: hidden;

    position: absolute;
    z-index: 200;


    li
    {
        text-align: center;
        padding: 2rem;

        color: black;

        background-color: var(--culoare-nav);
    }
}

div#header-photo
{
    text-align: center;

    img
    {
        width: 90%;
        height: auto;

        border: .5rem solid var(--culoare-bordura-poza);
        border-top: none;
    }

    p
    {
        position: absolute;
        z-index:100;

        padding: 3vw;
        left: 10vw;
        top: 10vw;

        width: 50%;
        
        margin: auto;

        color:white;

        font-weight: 900;
        font-size: 4rem;
        font-style: italic;
        text-align: center;

        background: rgba(0, 0, 0, 0.5);

        animation: text-header-poza 1s ease-in-out;
    }
}

@keyframes text-header-poza 
{
    from
    {
        opacity: 20%;
        transform: translateX(50%);
    }
    to
    {
        opacity: 100%;
        transform: translateX(0%);
    }   
}


section#showcase-poze
{
    width: 90%;
    padding: .5rem;
    margin: auto;

    background-color: var(--culoare-nav);
}

div#text
{
    h2
    {
        padding: 1rem;

        font-weight: 300;
        text-align: center;
    }
}

div#slideshow.container
{
    width: 100%;
    display: grid;

    grid-template-columns: repeat(1fr, 6);
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "poza6 poza6 poza2 poza2 poza3 poza4"
    "poza6 poza6 poza2 poza2 poza5 poza1";

    row-gap: 2rem;
    column-gap: 2rem;
}

div#slideshow
{
    img
    {
        width: 100%;
        height: 100%;
    }

    img:hover
    {
        scale: 1.05;
    }
}

section#descriere
{
    width: 75%;
    height: 80%;
    margin: auto;
    margin-top: 2rem;
    padding: 2rem;

    align-items: center;
    text-align: center;

    background-color: var(--culoare-nav);

    font-size: 1vw;

    p
    {
        padding: 1rem ;
        font-weight: 300;

        text-align: left;
    }
}


section#cine-suntem
{
    width: 75%;
    height: 80%;
    margin: auto;
    margin-top: 2rem;
    padding: 2rem;

    align-items: center;

    font-size: 1vw;

    background-color: var(--culoare-nav);
}

section#cine-suntem.container
{
    display: grid;

    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas: 
    "photo text"
    "photo link";
}



div#about-image
{
    padding: 3em;
    img
    {
        width: 100%;

        border-radius: 50%;

        filter: saturate(0);
    }
}

div#about-text
{
    padding: 1rem;
    p
    {
        font-weight: 300;
    }
}

div#about-link
{
    padding: 1vw;

    text-align: center;
    a
    {
        font-size: 2vw;
        color:black;

        
        text-decoration: none;
    }

    a:hover
    {
        color:gray;
    }

    a::after
    {
        content: "📷";
    }
}

@media (min-width: 2500px)
{
    div#navheader
    {
        a
        {
            font-size: 4rem;
        }
    }

    div#header-photo
    {
        p
        {
            left:10vw;
            padding: 5vw;
            font-size: 3vw;
        }
    }
    div#text
    {
        h2
        {
            font-size: 1vw;
        }
    }

    section#descriere
    {
        font-size: 1vw;
    }

    div#about-image
    {
        padding: 2vw;
    }

    div#about-text
    {
        p
        {
            font-size: 1vw;
        }
    }

    div#about-link
    {
        a
        {
            font-size: 1vw;
        }
    }

    div#about-link > a::after
    {
        content: "📷";
    }
}

@media (max-width:1400px)
{
    div#header-photo
    {
        img
        {
            width: 100%;
        }

        p
        {
            left:4rem;
            top:10rem;
            font-size: 2rem;
        }
    }

    nav > ul.meniu-navigare
    {
        justify-content: center;

        li
        {
            flex: 0 0 20%;  
        }

        li a
        {
            font-size: 2vw;
        }
    }

    section#showcase-poze
    {
        width: 100%;
    }


    section#descriere
    {
        font-size: 3vw;    
    }
    
    section#cine-suntem
    {
        font-size: 3vw;
    }

    section#cine-suntem.container
    {
        display: flex;

        flex-direction: column;

        align-items: center;
    }

    div#about-image
    {
        padding: 1rem;

        width: 100%;
        height: auto;

        img
        {
            width: 100%;

            
        }
    }

    div#about-link
    {
        padding: 2rem;
        a
        {
            font-size: 4vw;
        }
    }
}

@media (max-width:800px)
{

    div#navheader
    {
        width: 100%;
    }

    nav > ul.meniu-navigare
    {
        li a
        {
            font-size: 5vw;
        }
    }

    div#header-photo
    {
        p
        {
            padding: 1rem;
            left:2rem;
            top:10rem;
            font-size: 1rem;
        }
    }

    section#showcase-poze
    {
        width: 100%;
    }

    div#slideshow.container
    {
        width: 80%;
        margin: auto;
        grid-template-areas: 
        "poza1 poza2"
        "poza3 poza4"
        "poza5 poza6";
        text-align: center;

        row-gap: 0.4rem;
        column-gap: 0.4rem;
    }

    div#text
    {
        h2
        {
            font-size: 1rem;
        }
    }
}