*
{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: italic;
    font-variation-settings:
    "wdth" 75;

    /* Variabile */
    
    /* Variabile header */
    --culoare-nav: #e0e0e0;
    --culoare-bordura-poza: black;
    --culoare-footer: #5f6266;

    /* Variabile body */
    --culoare-background: #b2b2b2;
    
}

body
{
    width: 100%;

    overflow-x: hidden;

    display: grid;
    place-items: center;

    grid-template-columns: 1fr 1fr;

    row-gap: 3rem;
    column-gap: 0;

    grid-template-areas: 
    "header header"
    "despre poza1"
    "poza2 autor"
    "valori poza3"
    "poza4 misiune"
    "mesaj mesaj";

    background: url(../Poze/Main\ Page/Slideshow/poza6.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

nav
{
    width: 100%;

    display: flex;

    background-color: var(--culoare-nav);
}

ul#meniu-nav
{
    list-style: none;
    display: flex;

    width: 100%;

    justify-content: flex-start;
    align-items: center;

    padding: .5rem;

    li
    {
        flex: 0 0 auto;

        padding: 1.5rem;
        font-size: 1rem;

        a
        {
            font-weight: 300;
            font-size: 2rem;

            color: black;
            text-decoration: none;

            transition: font-size .1s,font-weight .1s;
        }

        a:hover
        {
            font-size: 2.5rem;
            font-weight: 700;
        }
    }
}

.buton-submeniu:hover + div.submeniu-nav ul
{
    visibility: visible;
}

div.submeniu-nav
{
    position: absolute;
    z-index: 200;
    visibility: hidden;
    
    min-width: 150px;

    display: flex;

    ul
    {
        width: 100%;

        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;

        visibility: hidden;

        background-color: var(--culoare-nav);

        list-style: none;
        text-indent: 0;

        li
        {
            flex: 0 0 auto;

            width: 100%;
            padding: .5rem;

            text-align: left;
        }
    }

}

@keyframes submeniu-aparitie
{
   from
   {
        transform: scaleY(15%);
        transform: translateY(5%);
   }

   to
   {
        transform: scaleY(100%);
        transform: translateY(0%);
   }
}

#autor
{
    display: grid;

    grid-template-columns: 3fr 2fr;

    grid-template-areas: 
    "autor-header autor-img"
    "autor-text autor-img";

    place-items: center;

    padding:2rem;
    margin: 1rem;
    
    border-radius: 15px;

    img
    {
        width: 100%;
        height: 100%;
        
        object-fit: cover;
        aspect-ratio: 1;

        border: 10  px solid var(--culoare-background);
        border-style: double;

        transition: scale 0.1s;
    }

    img:hover
    {
        scale: 1.1;
    }

    h2
    {
        place-self: start;
    }
}

.casuta-text
{
    width: 65%;
    height: auto;

    background: linear-gradient(190deg, gray 10%, lightgray 50%);
    border-radius: 10px;

    margin: 2rem;
    padding: 1rem;
    
    box-shadow: var(--culoare-footer) 0 0 2rem 1rem;

    h2
    {
        width: fit-content;
        padding: 1rem;

        color: black;

        text-align: left;   

        font-size: min(5rem, 6vw);
        font-style: normal;
    }

    ul
    {
        padding: 1rem;
        margin: 2rem;
        list-style: disc;

        li
        {
            list-style-position: inside;

            border:4px solid var(--culoare-footer);
            border-style: double;
            border-radius: 10px;

            padding: 1rem;
            margin-bottom: 1rem;
            b
            {
                color: #353535;
            }

            font-size: 1.5rem;
            font-weight: 300;

            margin-right: 20%;
        }

        li:nth-child(even)
        {
            margin-right: 0;
            margin-left: 10%;
        }

    }
    p
    {
        padding: 1rem;

        font-size:1.5rem;
        font-weight: 300;

        text-align: left;
    }

    animation: items-appear 1s;
}

.poza-hover
{
    margin: auto;
    width: 50%;
    height: auto;        
        
    object-fit: cover;
    aspect-ratio: 9/16;

    border: 10px solid var(--culoare-background);
    border-style: double;
    box-shadow: var(--culoare-footer) 0 0 2rem 1rem;


    animation: items-appear 1s;
    transition: scale 0.1s;
}

.poza-hover:hover
{
    scale: 1.1;
}

@keyframes items-appear
{
    from
    {
        opacity: 10%;
        transform: translateY(10%);
    }

    to
    {
        opacity: 100%;
        transform: translateY(0);
    }
}

@media (max-width:1400px)
{
    body
    {
        display: flex;
        flex-direction: column;
    }

    .casuta-text
    {
        ul
        {
            border:1px solid yellow;
            display: flex;
            flex-direction: column;
            justify-content: center;

            li
            {
                padding: 1rem;
                width: 100%;
                margin: 0;
                margin-bottom: 2vw;
            }
            li:nth-child(even)
            {
                margin: 0;
                margin-bottom:2vw;
            }
        }
    }
}

@media (max-width:800px) 
{
    body
    {
        display: flex;
        flex-direction: column;
    }

    .casuta-text
    {
        width: 80%;

        ul li
        {
            font-size: 1rem;
        }

        p
        {
            font-size: 1rem;
        }
    }
}