*
{
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
    font-variation-settings:
    "wdth" 75;

    /* Variabile */
    
    /* Variabile header */
    --culoare-nav: #e0e0e0;
    --culoare-bordura-poza: black;
    --culoare-footer: #5f6266;

    /* Variabile body */
    --culoare-background: #b2b2b2;
    
}

body
{
    width: 100%;
    height: 100%;

    margin: 0;

    overflow-x: hidden;

    display: grid;
    place-items: center;

    grid-template-areas: 
    "header header"
    "main main"
    "footer footer";

    row-gap: 3rem;
    column-gap: 0;

    background-color: var(--culoare-background);
}

nav
{
    width: 100%;

    display: flex;

    background-color: var(--culoare-nav);
}

ul#meniu-nav
{
    list-style: none;
    display: flex;

    width: 100%;

    justify-content: flex-start;
    align-items: center;

    padding: .5rem;

}

ul#meniu-nav li
{
    flex: 0 0 auto;

    padding: 1.5rem;
    font-size: 1rem;
}

ul#meniu-nav li a
{
    font-weight: 300;
    font-size: 2rem;

    color: black;
    text-decoration: none;

    transition: font-size .1s,font-weight .1s;
}

ul#meniu-nav li:hover > a
{
    font-size: 2.5rem;
    font-weight: 700;
}

ul.submeniu-nav
{
    position: absolute;
    z-index: 200;
    visibility: hidden;
    
    width: 20%;
    min-width: 150px;

    display: flex;
    

    flex-direction: column;

    justify-content: center;
    align-items: center;

    background-color: var(--culoare-nav);

    list-style: none;
    text-indent: 0;
}

ul.submeniu-nav li
{
    flex: 0 0 auto;

    width: 100%;
    padding: .5rem;

    text-align: left;
}

nav > ul#meniu-nav li:hover > ul.submeniu-nav,
nav > ul#meniu-nav li > ul.submeniu-nav:hover
{
    visibility: visible;
}

@keyframes submeniu-aparitie
{
   from
   {
        transform: scaleY(15%);
        transform: translateY(5%);
   }

   to
   {
        transform: scaleY(100%);
        transform: translateY(0%);
   }
}

div#main-content
{
    width: 90%;
    height: auto;
    
    margin: auto;
    margin-top: 3vw;

    display: grid;

    grid-template-columns: 1fr 5fr;

    grid-template-areas: 
    "f c"
    "f c";
    column-gap: 0;
    row-gap: 0;

    background-color: white;

}

div#lista-colectii
{
    width: 80%;
    margin-left: 20%;

    display: flex;
    flex-wrap: wrap;

    align-items: center;
    justify-content: space-evenly;

}

div#lista-colectii img
    {
        flex: 0 0 auto;

        max-width: 30%;
        height: auto;
        aspect-ratio: 9/16;

        margin: 1rem;
        object-fit: cover;

        border: 3px solid var(--culoare-footer);

        transition: scale 0.1s;
    }


div#lista-colectii img:hover
    {
        scale: 1.1;
    }

div#filtre
{
    width: 100%;

    padding: 1rem;
    background-color: gray;

    color: white;

    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

div#filtre::after
{
    content: "... vor fi adaugate cu javascript";
}

footer
{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    width: 100%;
    height: auto;

    margin-top: 5vw;

    padding: min(4vw, 2rem);

    background-color: var(--culoare-footer);
    color:white;
}

footer p
{
    margin: auto;
    padding: 1rem;
    padding-bottom: 2rem;
    width: 90%;
    
    text-align: justify;

    font-weight: 300;
    font-size: min(3vw, 2rem);

    border-bottom: 3px solid white;
}

#footer-linkuri
{
    flex: 0 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    margin-top: 2rem;
}

#footer-linkuri a
{
    text-wrap: nowrap;
    padding: 1rem;

    text-decoration: none;
    color: white;

    font-size: min(4vw, 2rem);
    transition: color .2s;
}

#footer-linkuri a:hover
{
    color: black;
    cursor: pointer;
}


@media (max-width: 850px) 
{
    nav ul#meniu-nav
    {
        justify-content: space-evenly;
    }

    nav ul#meniu-nav li a
        {
            font-size: 5vw;
        }

    div#main-content
    {
        width: 100%;
    }
}