* {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
    font-variation-settings: "wdth" 75;

    --culoare-nav: #e0e0e0;
    --culoare-bordura-poza: black;
    --culoare-footer: #5f6266;
    --culoare-background: #b2b2b2;
}

body {
    width: 100%;
    overflow-x: hidden;
    margin: auto;
    padding: 0;
    background-color: var(--culoare-background);
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

#main-content {
    grid-area: main;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-areas: "f c";
    width: 100%;
    min-height: 100vh;
}

#filtre {
    grid-area: f;
    background-color: var(--culoare-footer);
    padding: 2rem 1rem;
    border-right: 1px solid black;
    color: white;
}

#filtre h2 {
    text-align: left;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: 1px solid white;
    padding-bottom: 0.5rem;
    margin: 0;
}

#lista-colectii {
    grid-area: c;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: min-content;
    gap: 2rem;
    padding: 2rem;
    background-color: var(--culoare-background);
}

.card-colectie {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background: white;

    transition: scale 0.8s;
}

.card-colectie canvas {
    width: 100%;
    aspect-ratio: 9 / 16;
    display: block;
    object-fit: cover;
    filter: grayscale(100%);
    transition: filter 0.3s ease;
    cursor: pointer;
    border: 1px solid black;
}

.card-colectie:hover
{
    scale: 1.1;
}

.card-colectie:hover canvas {
    filter: grayscale(0%);
}

.card-colectie h2 {
    padding: 0.8rem 0 0.2rem 0;
    margin: 0;
    font-size: 0.85rem;
    text-transform: uppercase;
    color: black;
}

.card-colectie p {
    padding: 0;
    margin: 0;
    font-weight: 300;
    font-style: normal;
    font-size: 0.75rem;
    line-height: 1.3;
    color: #1a1a1a;
}

footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 5vw;
    padding: min(4vw, 2rem);
    background-color: var(--culoare-footer);
    color: white;
}

footer p {
    margin: auto;
    padding: 1rem;
    padding-bottom: 2rem;
    width: 90%;
    text-align: justify;
    font-weight: 300;
    font-size: min(3vw, 2rem);
    border-bottom: 3px solid white;
}

#footer-linkuri {
    flex: 0 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 2rem;
}

#footer-linkuri a {
    text-wrap: nowrap;
    padding: 1rem;
    text-decoration: none;
    color: white;
    font-size: min(4vw, 2rem);
    transition: color .2s;
}

#footer-linkuri a:hover {
    color: black;
    cursor: pointer;
}

@media (max-width: 800px) {
    #main-content {
        grid-template-columns: 1fr;
        grid-template-areas: "f" "c";
    }

    #filtre {
        border-right: none;
        border-bottom: 1px solid black;
        height: auto;
    }

    #lista-colectii {
        grid-template-columns: repeat(2, 1fr);
        padding: 1rem;
        gap: 1.5rem;
    }
}