*
{
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
    font-variation-settings:
    "wdth" 75;

    /* Variabile */
    
    /* Variabile header */
    --culoare-nav: #e0e0e0;
    --culoare-bordura-poza: black;
    --culoare-footer: #5f6266;

    /* Variabile body */
    --culoare-background: #b2b2b2;
    
}

body
{
    width: 100%;
    height: 100%;

    margin: 0;

    overflow-x: hidden;

    display: grid;
    place-items: center;

    grid-template-columns: 1fr 1fr;

    row-gap: 3rem;
    column-gap: 0;

    grid-template-areas: 
    "header header"
    "main main"
    "footer footer";


    background: url(../Poze/Main\ Page/Slideshow/poza5.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

nav
{
    width: 100%;

    display: flex;

    background-color: var(--culoare-nav);
}

ul#meniu-nav
{
    list-style: none;
    display: flex;

    width: 100%;

    justify-content: flex-start;
    align-items: center;

    padding: .5rem;

}

ul#meniu-nav li
{
    flex: 0 0 auto;

    padding: 1.5rem;
    font-size: 1rem;
}

ul#meniu-nav li a
{
    font-weight: 300;
    font-size: 2rem;

    color: black;
    text-decoration: none;

    transition: font-size .1s,font-weight .1s;
}

ul#meniu-nav li:hover > a
{
    font-size: 2.5rem;
    font-weight: 700;
}

ul.submeniu-nav
{
    position: absolute;
    z-index: 200;
    visibility: hidden;
    
    width: 20%;
    min-width: 150px;

    display: flex;
    

    flex-direction: column;

    justify-content: center;
    align-items: center;

    background-color: var(--culoare-nav);

    list-style: none;
    text-indent: 0;
}

ul.submeniu-nav li
{
    flex: 0 0 auto;

    width: 100%;
    padding: .5rem;

    text-align: left;
}

nav > ul#meniu-nav li:hover > ul.submeniu-nav,
nav > ul#meniu-nav li > ul.submeniu-nav:hover
{
    visibility: visible;
}

@keyframes submeniu-aparitie
{
   from
   {
        transform: scaleY(15%);
        transform: translateY(5%);
   }

   to
   {
        transform: scaleY(100%);
        transform: translateY(0%);
   }
}

#main-content
{
    width: 90%;
    height: 100%;

    display: flex;

    align-items: center;
    justify-content: center;

    padding: 2rem;
    margin: auto;

    border-radius: 10px;
    box-shadow: 
    0 0 5rem 1rem black;

    background-color: var(--culoare-nav);
}

#main-content h2
    {
        flex: 0 0 auto;

        padding: 4rem;
        margin: 3rem;

        font-size: min(10rem, 10vw);
        color:black;


        text-align: center;
    }

#main-content ul
    {
        border: 2px solid black;
        border-radius: 10px;

        flex: 0 0 auto;
        padding: 1rem;

        list-style-type: none;

        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;
    }

#main-content ul li
    {
        flex: 0 0 auto;
        width: 90%;
        font-size: min(4vw, 2rem);  
        padding: 1rem;
    }

#main-content ul a
        {
            flex: 0 0 auto;
            text-wrap: nowrap;
            padding: 1rem;

            text-decoration: none;
            color: black;

            font-size: 1.5rem;
            transition: color .2s;
        }   

#main-content ul a:hover
        {   
            color: var(--culoare-footer);
            cursor: pointer;
        }


ul#locatii
{
    list-style-type: circle;

    border: 0;

}

ul#locatii li
    {
        font-size: 1rem;
    }

footer
{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    width: 100%;
    height: auto;

    margin-top: 10vw;

    padding: min(4vw, 2rem);

    background-color: var(--culoare-footer);
    color:white;
}

footer p
{
    margin: auto;
    padding: 1rem;
    padding-bottom: 2rem;
    width: 90%;
    
    text-align: justify;

    font-weight: 300;
    font-size: min(3vw, 2rem);

    border-bottom: 3px solid white;
}

#footer-linkuri
{
    flex: 0 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    margin-top: 2rem;
}

#footer-linkuri a
{
    text-wrap: nowrap;
    padding: 1rem;

    text-decoration: none;
    color: white;

    font-size: min(4vw, 2rem);
    transition: color .2s;
}

#footer-linkuri a:hover
{
    color: black;
    cursor: pointer;
}

@media (max-width: 1200px) 
{
    nav ul#meniu-nav
    {
        justify-content: space-evenly;

    }

    nav ul#meniu-nav li a
        {
            font-size: 5vw;
        }

    #main-content
    {
        width: 70%;
        flex-direction: column;
    }

    #main-content ul
        {
            width: 100%;
        }

    #main-content ul a
        {
            margin: 1rem;
            font-size: 3vw;
        }
        
}